/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #000000;
    overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}
  
header {
    height: 8%;
    color: #fff;
    padding: 1rem 2rem;
    display: flex;                  /* flexbox layout */
    justify-content: space-between; /* title left, nav right */
    align-items: center;            /* vertically center */
    overflow: hidden;
    background-color: #000000;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 100;
}
  
header p {
    margin: 0;
    font-size: medium;
    color: #ffffff;
    font-family: "Jura", sans-serif;
    font-size: 1rem;
    float: left;
    position: fixed;
    top: 4%;
    left: 5%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 6rem;
    float: right;
    position: fixed;
    top: 4%;
    right: 5%;

}
  
nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: medium;
    font-family: "Jura", sans-serif;
    font-size: 1rem;
}
  
nav a:hover {
    text-decoration: underline;
}


.front h1 {
    color: #fff;
    margin-top: 25%;
    text-align: center;
    margin-bottom: 25%;
    font-family: "Rock 3D", system-ui;
    font-size: 5rem;
}

#title {
    margin: 5%;
}

#projects {
    position: relative;
    background-color: #ffffff;
    padding-top: 5%;
    width: 100%;
}

.heading {
    width: 100%;
    height: auto;
    background-color: #fff;
    z-index: 50;
}

.heading h1 {
    color: #000000;
    padding-top: 2%;
    margin: 0%;
    font-family: "Rock 3D", system-ui;
    font-size: 4rem;
    text-align: center;
}

  .box {
    position: relative;
    display: flex;
    height: 300px;
    padding-top: 8%;
    transform-style: preserve-3d;
    perspective: 500px;
    scale: 1.5;
    align-items: center;
    
}

.box .item {
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 100px);
    width: 200px;
    height: 300px;
    background: white;
    transition: 0.5s;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    transform-style: preserve-3d;
    transform-origin: bottom;
    user-select: none;
    -webkit-box-reflect: below 1px linear-gradient (transparent, transparent, #0002)
}

.box .item:nth-child(1) {
    transform: translate3d(-250px,0,0) scale(0.8) rotateY(25deg);
    z-index: 1;
}

.box .item:nth-child(2) {
    transform: translate3d(-250px,0,0) scale(0.8) rotateY(25deg);
    z-index: 2;
}

.box .item:nth-child(3) {
    transform: translate3d(-150px,0,0) scale(0.9) rotateY(15deg);
    z-index: 3;
}

.box .item:nth-child(4) {
    transform: translate3d(0px,0,0) scale(1) rotateY(0deg);
    z-index: 4;
}

.box .item:nth-child(5) {
    transform: translate3d(150px,0,0) scale(0.9) rotateY(-15deg);
    z-index: 3;
}

.box .item:nth-child(6) {
    transform: translate3d(250px,0,0) scale(0.8) rotateY(-25deg);
    z-index: 2;
}

.box .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.buttons {
    position: relative;
    padding: 2%;
    bottom: 0;
    display: flex;
    gap: 2%;
    justify-content: center;
}

.buttons span {
    position: relative;
    width: 50px;
    height: 50px;
    border: 2px solid #000000;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.button span:hover {
    opacity: 0.5;
}

.buttons span::before {
    content: '';
    position: absolute;
    left: 20px;
    width: 10px;
    height: 10px;
    border-top: 2px solid #000000;
    border-left: 2px solid #000000;
    rotate: -45deg;
}

.buttons span:last-child::before {
    content: '';
    position: absolute;
    left: initial;
    right: 20px;
    width: 10px;
    height: 10px;
    border-top: 2px solid #000000;
    border-left: 2px solid #000000;
    rotate: 135deg;
}

#contact {
    position: relative;
    background-color: #000000;
    width: 100%;
    height: auto;
    text-align: center;
}

#contact h1 {
    color: #ffffff;
    padding-top: 4%;
    margin: 0%;
    font-family: "Rock 3D", system-ui;
    font-size: 3rem;
    text-align: center;
}

.contact-left {
    color: #ffffff;
    padding: 5%;
    font-family: "Jura", sans-serif;
    font-size: 2vh;
    float: left;
}

.contact-middle {
    color: #ffffff;
    padding: 5%;
    margin-right: 7%;
    font-family: "Jura", sans-serif;
    font-size: 2vh;
    display:inline-block;
}

.contact-right {
    color: #ffffff;
    padding: 5%;
    font-family: "Jura", sans-serif;
    font-size: 2vh;
    float: right;
}

.contact-right a {
    color: #ffffff;
}

footer {
    background-color: #000000;
    width: 100%;
}


@media screen and (max-width: 1200px) {
    .box {
        height: 490px;
        margin-top: 10%;
    }
}

@media screen and (max-width: 1200px) {
    .buttons {
        margin-top: 10%;
    }
}

@media screen and (max-width: 1200px) {
    .heading {
        padding-top: 20%;
    }
}

/* Cat and mouse */

.gallery {
    background-color: #fff;
    justify-items: center;
}

.gallery img {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
    margin-top: 10%;
}

.project-info {
    width: 100%;
    height: auto;
    background-color: #fff;
    z-index: 50;
}

.project-info h1 {
    color: #000000;
    padding-top: 2%;
    margin: 0%;
    font-family: "Rock 3D", system-ui;
    font-size: 4rem;
    text-align: center;
}

.project-info p {
    color: #000000;
    text-decoration: none;
    font-size: medium;
    font-family: "Jura", sans-serif;
    font-size: 2rem;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 0%;
    text-align: center;
}

.gallery-info {
    background-color: #fff;
    justify-items: center;
}

.gallery-info img {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
    margin-top: 10%;
}

.gallery-rat {
    background-color: #fff;
    justify-items: center;
}

.gallery-rat img {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.rat_vid{
    background-color: #fff;
}

.rat_vid video{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.particles {
    background-color: #fff;
}
.particles video {
    width: 45%;
    margin-left: 27.5%;
    margin-right: 27.5%;
    margin-top: 10%;
    
}

.particles img {
    width: 45%;
    margin-left: 27.5%;
    margin-right: 27.5%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.stardome_vid {
    color: #000000;
    text-decoration: none;
    font-size: medium;
    font-family: "Jura", sans-serif;
    font-size: 1rem;
    text-align: center;
}